@{
        Layout = "~/views/shared/_layout.cshtml";
}

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div>
            <h2>Abstract</h2>
            <p>
                <ul>
                    <li>
                        어린 시절부터 저는 컴퓨터를 매우 좋아했고 다양한 비디오 게임과 온라인 게임을 즐기면서 성장했습니다.
                    </li>
                    <li>
                        볼 수 있는 것보다 상상이 더 재미있게 느껴지는 타입입니다.
                    </li>
                    <li>
                        대학에서 컴퓨터 공학을 전공했고, 처음 배운 언어는 C이지만 특정 언어에 국한되지 않고 개발을 즐깁니다.
                    </li>
                    <li>
                        온라인 멀티 유저 게임을 만들면서 가상으로 만들어진 공간에서 많은 유저들이 즐거운 시간을 보내는 것을 보며,
                        저도 매우 기뻤고 이것은 제 인생의 원동력입니다.
                    </li>
                </ul>
            </p>
        </div>

        <div>
            <h2>Experience</h2>
            <p>
                <h3>갓 오브 하이스쿨</h3>
                <a class="btn btn-default btn-xs">C#</a> <a class="btn btn-default btn-xs">ASP.NET MVC</a> <a class="btn btn-default btn-xs">AWS</a> <a class="btn btn-default btn-xs">MY-SQL</a> <a class="btn btn-default btn-xs">REDIS</a> <a class="btn btn-default btn-xs">MongoDB</a>
            <p>
                <h4>
                    <a target="_blank" href="https://drive.google.com/file/d/1Fhk_iodnTJx8EPGrGNIKy2eMmemW-1Py/view?usp=sharing">Server Architecture</a>
                </h4>
                <h4>
                    UnitTest 개선
                </h4>
                <h4>
                    스레드간 미동기 공유자원 동기화
                </h4>
                <h4>
                    신규 컨텐츠 개발 / 배포
                </h4>
                <h4>
                    서버 프로젝트 ADO -> ORM 적용
                </h4>
                <h4>
                    내부 개발 장비 관리(인하우스 환경)
                </h4>
                <h4>
                    라이브 서비스 이슈 대응
                </h4>
                <h4>
                    글로벌 서비스 준비, 런칭, 장애 대응
                    <ul>
                        <li>
                            준비 기간 5개월
                        </li>
                        <li>
                            한국, 글로벌, 동남아 one build로 설계 및 배포
                        </li>
                        <li>
                            국가별 운영툴 로컬라이징
                        </li>
                        <li>
                            런칭 후 2시간 가량 장애 발생 이후 없음
                        </li>
                    </ul>
                </h4>
            </p>

            <p>
                <h3>몬스터파크</h3>
                <a class="btn btn-default btn-xs">C#</a> <a class="btn btn-default btn-xs">ASP.NET MVC</a> <a class="btn btn-default btn-xs">AWS</a> <a class="btn btn-default btn-xs">MY-SQL</a> <a class="btn btn-default btn-xs">REDIS</a> <a class="btn btn-default btn-xs">S3</a>
            <p>
                <h4>
                    <a target="_blank" href="https://drive.google.com/file/d/1B7C-jM4xQLPfwtj7dDuHQ0-9xCGQahEC/view?usp=sharing">Server Architecture</a>
                </h4>
                <h4>
                    초기 개발
                    <ul>
                        <li>
                            1차, 2차 클로즈 베타서비스
                        </li>
                        <li>
                            서버 아키텍쳐 설계 및 구현
                        </li>
                        <li>
                            RDBMS 스키마 설계, no-sql 설계
                        </li>
                        <li>
                            컨텐츠 개발
                        </li>
                        <li>
                            툴 개발
                        </li>
                    </ul>
                </h4>
                <h4>
                    런칭, 라이브 서비스 개발 / 배포
                    <ul>
                        <li>
                            이슈 대응
                        </li>
                        <li>
                            인앱 결제 시스템, 영수증 검증 서버(원스토어, 구글, 애플)
                        </li>
                        <li>
                            실시간 던전 생성 시스템 적용
                        </li>
                        <li>
                            서버 사이드 전투, 오토 플레이 구현
                        </li>
                    </ul>
                </h4>
                <h4><a target="_blank" href="https://youtu.be/myBnhHmR3Eg">절차식 랜덤 던전 생성 시스템</a></h4>
                <a class="btn btn-default btn-xs">unity</a> <a class="btn btn-default btn-xs">A*(star)</a> <a class="btn btn-default btn-xs">Normal/Gauss Distribution</a> <a class="btn btn-default btn-xs">MST</a> <a class="btn btn-default btn-xs">Dijkstra</a> <a class="btn btn-default btn-xs">Vector</a>
                </br>
                <img src="Images/generate_root.gif" alt="gR">
                <ul>
                    <li>
                        Room 조각 생성
                    </li>
                    <li>
                        Separate Rooms(충돌처리 원형으로 퍼지도록)
                    </li>
                    <li>
                        필요 없는 룸 제거
                    </li>
                    <li>
                        Delaunay Triangulation + Graph
                    </li>
                    <li>
                        Minimum Spanning Tree
                    </li>
                    <li>
                        타일 길 잇기(A*로 이동 실제 캐릭터 이동 가능 하도록)
                    </li>
                </ul>
            </p>

            <p>
                <h3>다크어벤저3</h3>
                <a class="btn btn-default btn-xs">C++</a> <a class="btn btn-default btn-xs">PYTHON</a> <a class="btn btn-default btn-xs">AWS</a> <a class="btn btn-default btn-xs">MY-SQL</a> <a class="btn btn-default btn-xs">REDIS</a> <a class="btn btn-default btn-xs">react</a>
            </p>
        </div>

        <div>
            <h2>Research Paper</h2>
            <p>
                <h3><a target="_blank" href="http://www.riss.kr/search/detail/DetailView.do?p_mat_type=be54d9b8bc7cdb09&control_no=5dc300b8270f8decffe0bdc3ef48d419">Design and implementation of abuse sentence detecting system based on Deep Learning</a></h3>
                <a class="btn btn-default btn-xs" target="_blank" href="https://drive.google.com/file/d/1JOcd3cjdPJOc2h0d0nqeCVY9CeB5zEnv/view?usp=sharing">view 발표 PPT</a>
                <br />
            <p>
                본 논문의 결과를 통해서 잘 훈련된 인공신경망 모델이 비속어 감지 주제에 있어 효과적으로 동작함을 확인하였다. 실제로 최종 성능 평가에서 95.12%의 정확성을 보였으며, 구현된 시스템에서 비속어 판단 수행시 GPU 하드웨어 가속 없이 건당 1.73초의 평균처리 속도를 확인했다. 이러한 판단 성능과 처리 속도는 사이버폭력 대응에 관한 실서비스에서 충분히 활용 가능한 수치이다.
            </p>
        </div>

        <div>
            <h2>
                Contribution
            </h2>
            <p>

                <h3>2020 두드림 프로그래머 진로 특강, 평촌고등학교</h3>
            <p>
                4차 산업시대의 정의와 전망, 앞으로 다가올 AI 시대를 대비하는 방법
                IT 엔지니어의 정의와 배워야하는 것 잘하는 법 등에 대한 특강
            </p>

            <h3>바람의나라:연 도안작 젠 타이머 <a class="btn btn-default btn-xs" target="_blank" href="https://docs.google.com/spreadsheets/d/1640NWscNvwD2J-_t48hBnivTOH9cVApCpLC5zsdR5c4/edit?usp=sharing">view EXCEL</a></h3>
            <p>
                도안 or 보스작 젠타이머이며, 어떤 맵에서든 커스텀 변수를 이용하여 사용
                몬스터 처치후 해당 채널에 단축키를 이용하여 잡은시간 기록시 자동으로 각종 계산이 진행되며,
                따로 삭제하지 않더라도 지정된 시간이 지날 경우 자동으로 삭제
                도안몹의 등장 예상시간중 가장 빠른 예상 등장시간의 TOP10을 오더링하여 따로 보여주며, 이를 통해 우선순위 파밍이 가능
            </p>

        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>