@{
        Layout = "~/views/shared/_layout.cshtml";
}

<div class="jumbotron">
    <h1>ChoiJunHan <small>최준한</small></h1>
    <div style="font-weight:normal;font-size:120%">
        Currently working as a game network engineer at Nexon Korea.<br />
        Since childhood, I have loved computers very much and have grown up enjoying various video games and online games.<br />
        I'm the type that feels more fun in my imagination than I can see.<br />
        <br />
        I majored in computer engineering at university, The first language I learned was C, but I am not limited to a specific language and I enjoy development.<br />
        <br />
        Making online multi-user games, I see a lot of users having fun in a virtually created space, and I was also very happy. It is the driving force of my life<br />
        <br />
        My main interests are network programming and machine learning, I have no doubt that strong AI will one day appear in the world.
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>
            I participated as a server programmer in the project below, and during that time I had a very grown and very valuable experience.
        </p>
        <p>
            <li><a href="https://play.google.com/store/apps/details?id=com.nhnent.SKGOHN" target="_blank">갓 오브 하이스쿨 &raquo;</a></li>
            <li><a href="http://www.ovencode.net/" target="_blank">몬스터파크 &raquo;</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.nexon.da3" target="_blank">다크어벤저3 &raquo;</a></li>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Paper</h2>
        <p>
            Research on 'Abuse sentence detecting system using deep learning', You can try implemented system test in ASDS menu at the top of this website.
        </p>
        <p><a class="btn btn-default" target="_blank" href="https://lib.hanyang.ac.kr/">Show paper &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contect</h2>
        <p>If you are interested in me or have anything to tell me, please contact me.</p>
        <p><a class="btn btn-default" href="mailto: ence88@gmail.com">Send Mail &raquo;</a></p>
    </div>
</div>